h2 Task

- task_index = @tasklist.index { |t| t.uuid == @uuid }
- task = @tasklist[task_index]
- reltime = task.due == nil ? "in no time" : time_in_words(task.due.to_time.to_i)
p Description: #{task.description}
p Due: #{reltime}
p project: #{task.project == nil ? "no project" : task.project}

a href="/action?action=done&uuid=#{@uuid}" Complete
span width="10em"
a href="/action?action=delete&uuid=#{@uuid}" Delete

javascript:
  alert("woah there!")
