h2 Task

- task_index = @tasklist.index { |t| t.uuid == @uuid }
- task = @tasklist[task_index]
- reltime = time_in_words_ontime(task.due.to_time.to_i)
p #{task.description} #{reltime}
p project: #{task.project}

form action="/" method="POST"
    input.button type="submit" value="Complete"
