extends layout

block content
	form(action="/action", method="POST")
		div.field
			input(type="text", name="description", placeholder="description")
		div.field
			input(type="text", name="project", placeholder="project")
		div.field
			input(type="date", name="date")
		div.field
			input(type="time", name="time")
		input(type="text", name="action", value="add", style="display: none")
		button.ui.button(name="submit") submit
