doctype html
html
	head
		title tasks
		link(rel='stylesheet', href="#{url_for('static', filename='css/main.css')}")

		script(src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")

		meta(name="viewport", content="width=device-width, initial-scale=1")

		block head
	body
		div.nav
			a(href="/") tasks
			a(href="/add") add
			a(href="/sync") sync
		div
			h2 #{title}
			block content
