doctype html
html
	head
		title login
		link(rel='stylesheet', href="#{url_for('static', filename='css/main.css')}")
		script(src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")

		meta(name="viewport", content="width=device-width, initial-scale=1")

	body
		div.center
			form(action="", method="POST")
				input.input(type="password", name="pass", value="#{request.form.password}")
				button.button(name="submit") go
			if error
				p try again?
